# name : condition ifelif for activity diagram
# contributor : hejack0207 <hejack0207@sina.com>
# key: acifelif
# --
if (${1:condition}) then (${2:yes})
   :activity;
elseif (${3:condition}) then (${4:yes})
   :activity;
else (${5:condition}) (${6:nothing})
   :activity;
endif